.product-card-container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 25px;
    text-align: center;
}

.card {
    margin: 15px;
}

.card h3{
    color: rgb(133, 12, 12);
    font-style:italic;
    font-size: 155%;
    font-weight: bold;
}

.card h4{
    color: rgb(245, 221, 221);
    font-style:normal;
    font-size: 125%;
    font-weight: bold;
}

.card h5{
    color: rgb(28, 26, 26);
    font-style:normal;
    font-size: 110%;
    font-weight: bold;
}

.card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: rgb(239, 237, 241);
    background-color: rgb(54, 56, 55);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.card button:hover {
    opacity: 0.7;
}

